body {
  background-color: #eaeaea;
}

.ui.fixed.menu {
  background-color: rgb(36, 36, 36);
}

.ui.main.container {
  margin-top: 7em;
}

.masthead {
  display: flex;
  align-items: center;
  background-color: rgb(36, 36, 36) !important;
  /* background-image: linear-gradient(rgba(36, 36, 36, 0.5)),
    url("https://images.pexels.com/photos/4238872/pexels-photo-4238872.jpeg") !important; */
  height: 100vh;
}

.masthead h1.ui.header {
  font-size: 4em;
}
